<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <title>BlackOps Auto Inventory | Signup</title>
    <meta name="description" content="Tracks Your Car Inventory.">
    </head>

<header>
  <h1>BlackOps Auto Inventory<h1>

<hr>

<h2>Signup</h2>

<%= "Must include Email and Password, Email must be unique" if @user && @user.errors.any? %>

<form action="/users" method="POST">
<p>
<label for="email">Email</label>
<input type="text" name="email" id="email">
</p>
<label for="password">Password</label>
<input type="password" name="password" id="password">
<br>
<br>
<input type="submit" name="" />

</form>
